html
  head
    title Unofficial Pokèdex
    meta(charset="UTF-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="styles/style.css")
  body
    #app

    script(src="scripts/vendor/react.js")
    script(src="scripts/vendor/react-dom.js")
    script(src="scripts/Pokeball.js")
    script(src="scripts/Site.js")
    script(src="scripts/App.js")